/*
Minor Third Modular Scale:
https://www.modularscale.com/?16&px&1.2
*/

html {
  max-width: 960px;
  width: 100%;
}

body {
  font-size: 16px; /* 1em */
  line-height: 1.2em; /* 19.2px or 120% */
  margin: 0;
  font-family: 'Libre Franklin',sans-serif;
  color: #f2f2f2;
  background: #336699;
  background-image: url("../images/ocean-sm.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center bottom;
  width: 100%;
  max-width: 960px;
}

input {
  box-sizing: border-box;
  width: 72%;
  padding: .4em 0;
  margin: .3em 8% .8em 20%;
  border: 0;
  outline: 0;
  border-bottom: 0.046875em solid rgba(217, 217, 217, .5);
  color: #f2f2f2;
  background: transparent;
}

h1 {
  font-size: 2.986em;  /* 47.776px */
  line-height: 1.2em; /* 19.2px or 120% */
  padding: .482em 1em;
  text-align: center;
  font-weight: 600;
}

p {
  line-height: 1.2em; /* 19.2px or 120% */
  text-align: center;
  padding-left: 1.5em;
  padding-right: 1.5em;
  padding-bottom: 1em;
}

hr {
  display: none;
}

#form {
  display: none;
}

#container1 {
  width: 100%;
  margin: 0 auto;
  position: absolute;
  bottom: 0;
}

#container2 {
  width: 100%;
  margin: 0 auto;
  position: absolute;
  bottom: 0;
}

.fontsize {
  font-size: 1.44em; /* 23.04px */
}

.lgscreen {
  display: none;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #f2f2f2;
  opacity: 1; /* Firefox */
  margin-left: -1em;
}

#signup {
  color: white;
  background-color: #ff1a1a;
  width: 85%;
  margin: 1em auto 1.44em auto;
  display: block;
  border: 0;
  outline: 0;
  border-radius: 2.074em;
}

#submit {
  color: white;
  background-color: #ff1a1a;
  width: 85%;
  margin: 1em auto 1.44em auto;
  display: block;
  border: 0;
  outline: 0;
  border-radius: 2.074em;
}

.Icon-outside {
  position:relative;
}

.Icon-outside i {
  position:absolute;
  top:.7em;
  margin-left: 1.4em;
  padding: .3em;
  color: rgba(217, 217, 217, .5);
  background: transparent;
}

/* not working
#done {
  display: none;
  position: fixed; /* Stay in place */ /*
  z-index: 1; /* Sit on top */ /*
}

#finish {
  display: none;
  position: fixed; /* Stay in place */ /*
  z-index: 1; /* Sit on top */ /*
}
*/

@media screen and (min-width: 510px) {
  body {
    background-image: url("../images/ocean-md2.png");
    width: 100%;
    margin: 0 auto;
  }

  input {
    width: 40%;
    max-width: 20em;
    margin: .1em 10% .8em 18%;
  }

  h1 {
    padding-top: 1.75em;
    font-size: 2.488em;  /* 39.808px */
    margin-bottom: 0;
  }

  p {
    padding-bottom: 3.25em;
    font-weight: 600;
  }

  hr { 
    width: 25%; 
    height: .046875em;
    background: rgba(217, 217, 217, .5);
    margin-top: 1rem;
    display: block;
    }

  #container1 {
    text-align: center;
    margin: 3% auto 0 auto;
    width: 100%;
    position: relative;
  }

  #container2 {
    text-align: center;
    margin: 3% auto 0 auto;
    width: 100%;
    position: relative;
  }

  .fontsize {
    font-size: 1.2em; /* 19.2px */
  }

  .smscreen {
    display: none;
  }

  .lgscreen {
    display: block;
  }

  #form {
    display: block;
  }

  .Icon-outside i {
    margin-left: 2.5em;
    padding: .3em;
    color: rgba(255, 26, 26, 1);
  }
  
  #signup {
    display: none;
  }

  #submit {
    width: 55%;
    background-color: #ff1a1a;
    margin-top: 2em;
    font-weight: 600;
  }
}

@media screen and (min-width: 768px) {
  body {
    background-image: none;
    max-width: 960px;
  }

  input {
    margin: .3em 10% .8em 18%;
  }

  h1 {
    font-size: 1.728em;  /* 27.648px */
  }

  #wrapper {
    width: 75%;
    height: 75%;
    max-width: 768px;
    margin: 0;
    border-radius: 2.074em;
    padding: 1em;
    background-image: url("../images/ocean-lg.png");
    background-position: right;
    background-repeat: no-repeat;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  .fontsize {
    font-size: 1em; /* 16px */
  }

  #submit {
    width: 20%;
    margin-top: 1em;
  }
}
