body {
  margin: 0;
  font-family: sans-serif;
  background: #336699;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center bottom;
  font-size: 16px;
  line-height: 1.2em;
  /*background-size: 100%;*/

}

input {
  box-sizing: border-box;
  width: 60%;
  /*padding: .75rem 1.25rem;*/
  padding: .55em 0;
  margin: .5rem 20% 1.5rem;
  border: 0;
  outline: 0;
  border-bottom: 0.0625rem solid #e6e6e6;
  color: #f2f2f2;
  /*border-radius: 0.375rem;*/
  background: transparent;
}

label {
  display: block;
  text-align: left;
  font-size: 1.5rem;
  width: 97%;
  margin: 0 2%;
}

h2 {
  margin: 2rem 2% 0;
  font-size: 2rem;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: .25rem;
  text-align: center;
}

#container {
  width: 100%;
  margin: 0 auto;
  position: absolute;
  bottom: 0;
}

.fontsize {
  font-size: 1.3rem;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #f2f2f2;
  opacity: 1; /* Firefox */
  margin-left: -1em;
}

#submit {
  color: white;
  background-color: #ff0066;
  width: 50%;
  margin: 2em auto;
  display: block;
  border: 0;
  outline: 0;
  border-radius: 2em;
}

.input-icons i { 
  position: absolute; 
} 
  
.input-icons { 
  width: 200%; 
  margin-bottom: 10px; 
} 
  
.icon { 
  padding: 10px; 
  color: green; 
  min-width: 150px; 
  text-align: center; 
} 

@media screen and (min-width: 510px) {
  #container {
    text-align: center;
    margin: 3% auto 0 auto;
    width: 65%;
  }

  .fontsize {
    font-size: 1.2rem;
  }
  
  input {
    width: 100%;
  }
  
  #submit {
    width: 30%;
    display: block;
    margin: 0 auto;
    font-size: 0.9rem;
  }
}

@media screen and (min-width: 768px) {
  #container {
    width: 450px;
    float: right;
    margin-right: 3%;
  }
    
  .font-size {
    font-size: 1rem;
  }
  
  #submit {
    width: 26%;
  }
}
